.container {
  margin: auto;
  width: 70vw;
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
}

.section {
  text-align: left;
}

.list {
  margin: 10px;
}

.classes .itemContainer {
  color: black;
  display: flex;
  flex-direction: row;
}
