.container {
  margin: auto;
  text-align: center;
  height: 30vh;
}

.h2 {
  text-align: left;
}

.listContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list {
  width: 150px;
  margin: 5px 5px;
}

@media screen and (min-width: 800px) {
  .listContainer {
    justify-content: space-between;
  }
}
