.container {
  margin: auto;
  text-align: center;
  width: 70vw;
  height: 30vh;
}

.section {
  text-align: left;
}

.listContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list {
  min-width: 150px;
  width: 200px;
  margin: 15px 0;
}
